
/* Global content's style */
$background-color: #f9dfbb;
$navbar-color: #ffd69d;
$text-color: black;
$transition-speed: 0.3s;

/* Whole body's style */
body {
  font-family: Comic Sans MS, sans-serif;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

/* Main Content Styles */
.all-body-content {
  flex: 1;
}


html {
  scroll-behavior: smooth;
}

/* Navbar Styles */
#navbar {
  display: flex;
  justify-content: space-between;
  /* whole navbar color */
  background-color: $navbar-color;
  padding: 2em 10%;
  position: sticky;
  top: 0;
  transition: padding $transition-speed;
  align-items: center;
  font-size: 25px;
  border: 1px solid #000;
  /* Used a high value to coordinate */
  z-index: 1000;
}

.site-title {
  font-weight: bold;
}

.nav-items {
  display: flex;
  /* space between nav-item */
  gap: 23px;
}

.nav-item {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
  /* nav-item color */
  background-color: #d09f5a;
  border: 1px solid #000;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  /* nav-item color when mouse on */
  background-color: #fff3c8;
}

.nav-item.active {
  /* nav-item color when section is active */
  background-color: #ffb11b;
}

#navbar.shrink {
  /* navbar shrinks */
  padding: 1em 10%;
  font-size: 18px;
}



/* Section 1 */
/* Buttons Styles */
.slide-btn {
  /* Req2: Makes the buttons stick to the same position */
  position: absolute;
  top: 50%;
  /* Makes sure the buttons are above other elements */
  z-index: 100;
  /* Makes sure the buttons are above other elements */
  background-color: rgba(0, 0, 0, 0.5);
  /* White color for left/right-slide-btn icons */
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  /* Centers the buttons vertically */
  transform: translateY(-50%);
}

.left-slide-btn {
  left: 10px;
}

.right-slide-btn {
  right: 10px;
}

.slide-btn i {
  font-size: 30px;
}

/* Change the buttons' appearance on hover */
.slide-btn:hover {
  /* Slightly darker background on hover */
  background-color: rgba(0, 0, 0, 0.7);
}

/* Section1 Styles */
#section1 {
  border: 1px solid #000;
  position: relative;
}

.section1 {
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-content {
  position: relative;
  width: 50%;
  text-align: center;
  color: black;
  font-size: 30px;
}

.text-board {
  background-color: #fff0da;
  padding: 20px;
  margin: 10px 0;
  border-radius: 15px;
  opacity: 0.4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.slide1-text {
  position: absolute;
  top: 80%;
  left: 50px;
  transform: translateY(-50%);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.slide2-text {
  position: absolute;
  top: 80%;
  left: 50px;
  transform: translateY(-50%);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.slide3-text {
  position: absolute;
  top: 80%;
  left: 50px;
  transform: translateY(-50%);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.slide4-text {
  position: absolute;
  top: 80%;
  left: 50px;
  transform: translateY(-50%);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.slide5-text {
  position: absolute;
  top: 80%;
  left: 50px;
  transform: translateY(-50%);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

/* fade-in */
.fade-in-animation {
  opacity: 0;
  animation: fadeIn 5s forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

video {
  max-width: 100%;
  height: auto;
}

.slides {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.slide {
  background-size: cover;
  background-position: center;
  position: relative;
  flex: 0 0 100vw;
  min-width: 100vw;
  min-height: 30vh;
  scroll-snap-align: start;
}

.slide.image1 {
  background-image: url('../assets/sec1-1.png');
}

.slide.image2 {
  background-image: url('../assets/sec1-2.png');
}

.slide.image4 {
  background-image: url('../assets/sec1-4.png');
}

.slide.image5 {
  background-image: url('../assets/sec1-5.png');
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides {
  scrollbar-width: none;
}



/* Section2 */
#section2 {
  border: 1px solid #000;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #FFD9BB;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* Req 7: multi-cols */
  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    h2, p, img {
      margin-bottom: 20px;
      text-align: center;
      max-width: 90%;
      font-size: 20px;
    }

    img {
      max-height: 90%;
      border-radius: 10px;
      position: absolute;
    }
  }

  .dog-image {
    flex: 2;
  }
}



/* Section3 */
#section3 {
  border: 1px solid #000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-image: url('../assets/sec3-0.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  /* Req 10: fixed bg */
  background-attachment: fixed;
  background-position: center center;

  font-size: 50px;
  color: #2b1e0d;
}

/* Req 14: svg */
.icon-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icon {
  width: calc(33.3% - 10px);
  text-align: center;
  margin-bottom: 7%;
  cursor: pointer;

  i {
    font-size: 8rem;
    color: #2b1e0d;
  }

  .icon-bg {
    background-color: rgba(245, 245, 245, 0.7);
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #333;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 25px;
    color: #2b1e0d;
  }

}

.boarded-title {
  background-color: rgba(245, 245, 245, 0.7);
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Req 11: Modals */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.modal-content {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.text-content p {
  text-align: center;
  font-size: 15px;
}

.image-content img {
  display: block;
  max-width: 100%;  /* This ensures the image doesn't overflow the modal */
  margin: 10px auto; /* Centers the image and adds spacing */
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}



/* Footer */
footer {
  border: 1px solid #000;
  background-color: #ffd69d;
  color: #000;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}

.social-media-icons {
  display: flex;
  justify-content: center;  // 使图标居中
  gap: 20px;  // 图标之间的间距
}

.social-media-icons a {
  color: #555;  // 初始颜色
  text-decoration: none;  // 去掉链接的下划线
  font-size: 24px;  // 图标大小
}

.social-media-icons a:hover {
  color: #000;  // 悬停颜色
}

a i.fas, a i.fab {
  color: #795519; /* 这将改变图标的颜色 */
}

a {
  color: #b87e14; /* 这将改变链接文本的颜色 */
}
a.fa:hover {
  color: #2b200f;  /* 当悬停在图标链接上时，颜色变为橙色 */
}


/* Req 9: Responsiveness */
@media screen and (min-width: 1024px) and (max-width: 1280px) and (min-height: 720px),
screen and (min-width: 1024px) and (max-width: 1280px) and (max-height: 768px) {
  #section2 .column h2,
  #section2 .column p {
    font-size: 16px;
    margin-bottom: 15px;
  }

  #section2 .column img {
    max-width: 80%;
    max-height: 80%;
  }

  .icon {
    width: calc(26% - 10px);
  }

  .icon i {
    font-size: 5rem;
  }

  .icon h1 {
    font-size: 18px;
  }

  .icon-bg {
    padding: 5px;
  }

  .modal-content {
    width: 60%;
    max-width: 400px;
    padding: 10px;
  }

  .text-content p {
    font-size: 12px;
  }

  .close-btn {
    font-size: 18px;
  }
}

